<li data-controller="shorty--url-result-item-component--url-result-item-component">
    <div class="flex items-center px-4 py-4 sm:px-6">
      <div class="flex min-w-0 flex-1 items-center">
        <div class="flex-shrink-0">
          <%= turbo_frame_tag "web_image#{@short_url.id}" %>
        </div>
        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
          <div>
            <p class="truncate text-sm font-medium text-indigo-600">
              <a href="#"
                data-shorty--url-result-item-component--url-result-item-component-target="shorturl">
                <%= short_url_url(@short_url.short_code) %>
              </a>
            </p>
            <p class="mt-2 flex items-center text-sm text-gray-500">
              <span class="truncate"><%= turbo_frame_tag "web_title#{@short_url.id}" %></span>
            </p>
          </div>
          <div class="hidden md:block">
            <div>
              <a target="_blank" href="<%= qr_code_short_url_path(@short_url.id) %>">
                <%= image_tag qr_code_short_url_path(@short_url.id), class: "max-h-12" %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- Heroicon name: mini/chevron-right -->
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
</li>
